.info-row {
  display: inline;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 80px;
}

.info-row img {
  width: 100px;
  height: 100px;
}

.projects h4 {
  font-weight: bold;
}

.projects img {
  float: left;
  width: 200px;
  height: 200px;
  padding: 0px 30px 0px 0px;
}

.projects p {
  text-align: justify;
}

.project-links .row {
  text-align: center;
  display: inline;
}
